@using iTasksProject.Models
@using iTasksProject.Resources
@model iTask
@{ 
    if (Model.Description != null)
    {
        ViewBag.Desc = Model.Description.Length > 35 ? String.Join( " " , Model.Description.Split(' ').Take(4).ToArray()) + "...." : Model.Description;
    }
    else
    {
        ViewBag.Desc = "";
    }
}


<hr style="margin:0;" />
<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2" style="margin-right:0;padding-right:0;">
        @Html.DisplayFor(m=>m.Priority)
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6" style="margin-left:3px;padding-left:0;">
        <h3 style="margin:5px 0;">@Model.Name</h3>
        <p style="margin:0 10px;">@ViewBag.Desc </p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 pull-right">
        @if (Model.Complete)
        {
            @Html.ActionLink(@lang.Uncomplete , "MarkComplete", "iTasks", new { id = Model.Id }, new { @class = "btn btn-default iTask-btn" })
        }
        else
        {
            @Html.ActionLink(@lang.Uncomplete , "MarkComplete", "iTasks", new { id = Model.Id }, new { @class = "btn btn-default iTask-btn"});
        }
        @Html.ActionLink(@lang.Delete, "Delete", "iTasks", new { id = Model.Id }, new { @class = "btn btn-default iTask-btn " })
        @Html.ActionLink(@lang.Edit, "Edit", "iTasks", new { id = Model.Id }, new { @class = "btn btn-default iTask-btn"})
    </div>
</div>