@model iTasksProject.Models.ContactMessageModel
@{
    ViewBag.Title = "Contact";
}
<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Drop Us A Note</h1>
                    <p>Don’t just take our word for it. Check out some of our latest work.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact form start -->
<section id="contact-form">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
            {
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.ValidationMessageFor(m => m.userName, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.userName, new { @class = "form-control", @placeholder = "Your name" })
                        </div>
                        <div class="form-group">
                            @Html.ValidationMessageFor(m => m.userEmail, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.userEmail, new { @class = "form-control", @placeholder = "Email address" })
                        </div>
                        <div class="form-group">
                            @Html.ValidationMessageFor(m => m.subject, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.subject, new { @class = "form-control", @placeholder = "Subject" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <div class="form-group-2">
                            @Html.ValidationMessageFor(m => m.message, "", new { @class = "text-danger" })
                            @Html.TextAreaFor(m => m.message, new { @rows = "3", @class = "form-control", @placeholder = "Your message" })
                        </div>
                        <button class="btn btn-default" type="submit">Send Message</button>
                    </div>
                </div>
            }
        </div>
        <div id="contact-box" class="row">
            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <h2>Stop By For A visit</h2>
                    <ul class="address-block">
                        <li>
                            <i class="fa fa-map-marker"></i>N:208 Street, Serdivan Sakarya
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>Email: alisafaya@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>Phone:+90 555 555 5555
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <h2>We Also Count In Google Map</h2>
                    <div class="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.3791159938023!2d30.35318696970015!3d40.74767716894181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccb27a60001b39%3A0x82ef60679704c13d!2sKemalpa%C5%9Fa%2C+208.+Sk.%2C+54050+Selahiye%2FSerdivan%2FSakarya!5e0!3m2!1str!2str!4v1481843295974" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
