@using iTasksProject.Resources
@{
    ViewBag.Title = "Home Page";
}
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img height="400" src="@Url.Content("~/Content/iTasksTemplate/")img/iTasksLogo002.png" alt="Splash">
            </div>
            <div class="col-md-7">
                <div class="block">
                    <br /><br />
                    <h1 class="animated fadeInUp">iTasks.</h1>
                    <p class="animated fadeInUp">@lang.Definition1<br/>@lang.Definition2<br/>@lang.Definition3</p>
                </div>
                <div class="btn animated fadeInUp" style="padding:5px 200px;background-color:whitesmoke;border-color:#e3e3e3;">@Html.ActionLink(@lang.RegisterNow + " !", "Register","Account", new { @area = "" }, new { @style = "color:#397b20;" })</div>
            </div>
        </div>
    </div>
</section>
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>@lang.Definition4</h2>
                        <p>@lang.Definition5</p>
                        <p>@lang.Definition6</p>
                        <p>@lang.Definition7</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="@Url.Content("~/Content/iTasksTemplate/")img/wrapper-img.gif" alt="Img">
                </div>
            </div>
        </div>
    </div>
</section>