@model iTasksProject.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    ViewBag.ProfileImage = Url.Action("ProfileImage") == "/Manage/ProfileImage" ? Url.Content("~/Content/iTasksTemplate") + "/img/default-profile.png" : Url.Action("ProfileImage");
}
<section id="slider2" style="background: url('@Url.Action("CoverImage")') no-repeat;background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img class="img-responsive img-thumbnail" src='@Url.Action("ProfileImage")' style="width:100%;text-align:center;margin-bottom:15px;" alt="Profile Image" />
                @using (Html.BeginForm("ProfileImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data", @class = "row" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="fileUpload btn profile-btn col-md-4" style="width:90%;">
                        <span>Upload</span>
                        <input type="file" name="file" id="file" class="upload" />
                    </div>
                    <input class="btn animated fadeInUp profile-btn col-md-4" style="width:90%;" type="submit" value="Submit" disabled />
                    <div class="btn animated fadeInUp profile-btn col-md-4" style="width:90%;">@Html.ActionLink("Delete", "DeleteProfile", "Image", new { @area = "" }, new { @style = "color:#397b20;" })</div>
                }
            </div>
        </div>
        @using (Html.BeginForm("CoverImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data", @class = "row" }))
        {
            @Html.AntiForgeryToken()
            <div class="fileUpload btn profile-btn pull-right" style="padding:2px 10px; margin:5px;">
                <span>Upload</span>
                <input type="file" name="file" id="file" class="upload" />
            </div>
            <input class="btn animated fadeInUp profile-btn pull-right" type="submit" style="padding:2px 10px;margin:5px;" value="Submit" disabled />
            <div class="btn animated fadeInUp profile-btn pull-right" style="padding:2px 10px;margin:5px;">@Html.ActionLink("Delete", "DeleteCover", "Image", new { @area = "" }, new { @style = "color:#397b20;" })</div>
        }
    </div>
</section>
<section>
    <div class="row" style="background-color:#F5F5F5;border-bottom: 1px #00ff1e solid;">
        <h1 class="h1Heading col-md-offset-2 col-md-6 col-sm-offset-2 col-sm-6">Hello, @User.Identity.Name.Split(' ')[0] !</h1>
    </div>
    <div class="row" style="background-color:#FFFFFF;">
        <div class="col-md-6 col-sm-8 col-md-offset-2 col-sm-offset-2">
            <div class="block">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
                {
                    <div class="col-md-6 col-sm-12">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="block">
                            @Html.AntiForgeryToken()
                            <div class="form-group" style="margin:0">
                                <h2 class="h2Heading pull-left" style="margin:0;">Old Password</h2>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control editinfo-form pull-right", @placeholder = "Old Password" })
                            </div>
                            <div class="form-group">
                                <h2 class="h2Heading pull-left">New Password</h2>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control editinfo-form pull-right", @placeholder = "New Password" })
                            </div>
                            <div class="form-group">
                                <h2 class="h2Heading pull-left">Confirm Password</h2>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control editinfo-form pull-right", @placeholder = "Confirm Password" })
                            </div>
                        </div>
                        <button class="btn btn-default edit-btn" type="submit">Save Changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}