@model iTasksProject.Models.IndexViewModel
@{
    ViewBag.Title = "My Profile";
    ViewBag.ProfileImage = Url.Action("ProfileImage") == "/Manage/ProfileImage" ? Url.Content("~/Content/iTasksTemplate") + "/img/default-profile.png" : Url.Action("ProfileImage");
}
<section id="slider2" style="background: url('@Url.Action("CoverImage")') no-repeat;background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img class="img-responsive img-thumbnail" src='@Url.Action("ProfileImage")' style="width:100%;text-align:center;margin-bottom:15px;" alt="Profile Image" />
                @using (Html.BeginForm("ProfileImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data", @class = "row" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="fileUpload btn profile-btn col-md-4" style="width:90%;">
                        <span>Upload</span>
                        <input type="file" name="file" id="file"  class="upload" />
                    </div>
                    <input class="btn animated fadeInUp profile-btn col-md-4" style="width:90%;" type="submit" value="Submit" disabled />
                    <div class="btn animated fadeInUp profile-btn col-md-4" style="width:90%;">@Html.ActionLink("Delete", "DeleteProfile", "Image", new { @area = "" }, new { @style = "color:#397b20;" })</div>
                }
            </div>
            <div class="col-lg-12"></div>
        </div>
        @using (Html.BeginForm("CoverImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data", @class = "row" }))
        {
            @Html.AntiForgeryToken()
            <div class="fileUpload btn profile-btn pull-right" style="margin:5px;">
                <span>Upload</span>
                <input type="file" name="file" id="file"  class="upload" />
            </div>
            <input class="btn animated fadeInUp profile-btn pull-right" type="submit" style="margin:5px;" value="Submit" disabled />
            <div class="btn animated fadeInUp profile-btn pull-right" style="margin:5px;">@Html.ActionLink("Delete", "DeleteCover", "Image", new { @area = "" }, new { @style = "color:#397b20;" })</div>
        }
    </div>
</section>
<section>
    <div class="row" style="background-color:#F5F5F5;border-bottom: 1px #00ff1e solid;">
        <h1 class="h1Heading col-md-offset-2 col-md-6 col-sm-offset-2 col-sm-6">Hello, @Model.shortName !</h1>
    </div>
    <div class="row" style="background-color:#FFFFFF;margin:65px auto;">
        <div class="col-md-6 col-sm-12 col-md-offset-2 col-sm-offset-2">
            <div class="block">
                <div class="h2Heading">
                    User Name : @Model.UserName
                </div>
                <div class="h2Heading">
                    Email : @Model.Email
                </div>
                <div class="h2Heading">
                    Phone number: @Model.PhoneNumber
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="btn animated fadeInUp" style="padding:3px;margin-top:20%; width:75%; background-color:whitesmoke;border-color:#e3e3e3;">@Html.ActionLink("Edit my info", "EditMyInfo", "Manage", new { @area = "" }, new { @style = "color:#397b20;" })</div>
            <div class="btn animated fadeInUp" style="padding:3px;margin-top:3%; width:75%; background-color:whitesmoke;border-color:#e3e3e3;">@Html.ActionLink("Change my password", "ChangePassword", "Manage", new { @area = "" }, new { @style = "color:#397b20;" })</div>
        </div>
    </div>
</section>